.user {
    margin: 20px;
    border: 2px solid silver;
    padding: 5px;
    width: 80%;
    display: flex;
    border-radius: 10px;
}

.avaImg > img {
    width: 100px;
    height: 100px;
}

.avaImg {
    float: left;
    color: black
}

.description{    float: left;}
.description > * {
    margin: 0 0 10px 20px
}


