.user {
  margin: 20px;
  border: 2px solid silver;
  padding: 5px;
  width: 80%;
}

.avaImg {
  width: 100px;
  height: 100px;
}

.user button {
  border-radius: 3px;
  border: 1px solid silver;
  opacity: 0.5;
}

.user button:hover {
  opacity: 1;
}
