.header {
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: rgb(75, 75, 75);
  align-items: center;
  opacity: 0.5;
  /* align-content: center; */
  /* text-align: auto; */
  display: grid;
  grid-template-columns: 2fr 5fr 1fr 1fr 1fr 1fr;
}
.header:hover {
  opacity: 1;
}
.header img {
  width: 50px;
}

.topic {
  /* justify-self: center; */
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}
.topic::after {
  /* justify-self: center; */
  content: ")";
}
.header button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 6px 20px 7px;
  font-weight: 600;
  font-size: 12px;
  background: #f5f6f7;
  color: #041226;
  border: 1px solid #b4bac3;
  border-radius: 4px;
  margin-left: 10px;
}
.header button:hover {
  background: rgb(230, 232, 233) !important;
  color: #041226 !important;
}

.login {
  font-size: 2rem;
  color: white;
}

.ava > img {
  height: 50px;
  width: 50px;
}
