.avaImg {
  float: left;
  position:relative;
  --size: 20%;
  width: var(--size);
  height: var(--size);
  padding: 5px;
}
.changePhotoButton{
position: absolute;
  top: 5px;
  width: 95%;
  opacity: 0;
  font-size: 0.9vw;
}
.changePhotoButton:hover{
  opacity: 0.5;
}
.nameAndStatus{
  float: left;
}

.fullName {

  font-size: 1.5em;
}
.profileInfo::after{
  content: "";
  width: 100%;
  height: 1px;
}
.header {
}



@media all and (max-width: 655px) {
  .avaImg {
    --size: 30vw;
  }
  .changePhotoButton{
    top:100%;
    opacity:1;
    font-size: 2vw;
  }

  .header{
    margin-bottom: 25px;
  }
}
