.headerImg {
  width: 100%;
  height: 200px;
  /* grid-area: h; */
  grid-column: span 7;
}

.avaImg {
  position:relative;
  --size: 15vw;
  width: var(--size);
  height: var(--size);
  padding: 5px;
  /* grid-area: a; */
  grid-column: 1/2;
  grid-row: 2/5;
  /* display: flex; */
  /* margin-left: 5%; */
}
.changePhotoButton{
  position: absolute;
  top: 5px;
  width: 95%;
  opacity: 0;
  font-size: 0.9vw;
}
.changePhotoButton:hover{
  opacity: 0.5;
}

.fullName {
  font-size: 1.5em;
  grid-column: 3/6;
  grid-row: 2;
}
.aboutMe {
  grid-column: 1/6;
  grid-row: 5;
}
.lookingForAJobImg {
  width: 30px;
  height: 30px;
  grid-row: 5;
  grid-column: 7;
  padding: 1px;
}
.lookingForAJobDescription {
  grid-row: 5;
  grid-column: 4/7;
  text-justify: auto;
  padding-top: 5px;
  margin: 0 0 0 auto;
}
.header {
  display: grid;
  grid-template-columns: repeat(6, 2fr) 30px;
  grid-template-rows: minmax(100px, auto) repeat(4, 50px);
}

.status {
  grid-row: 3;
  grid-column: 3/6;
}


@media all and (max-width: 655px) {
  .avaImg {
    grid-column: 1/3;
    --size: 30vw;
  }
  .changePhotoButton{
    top:100%;
    opacity:1;
    font-size: 2vw;
  }
  .status{
    grid-column: 4/6;
  }
  .fullName{
    grid-column: 4/6;
  }
  .header{
    margin-bottom: 25px;
  }
}