.avaImg {
  float: left;
  position:relative;
  --size: 100px;
  width: var(--size);
  height: var(--size);
  padding: 5px;
}
.changePhotoButton{
position: absolute;
  top: 5px;
  width: 95%;
  opacity: 0;
  font-size: 0.9vw;
}
.changePhotoButton:hover{
  opacity: 0.5;
}
.nameAndStatus{
  float: left;
  width: 78%;
  height: var(--size);
}

.fullName {
padding: 20px;
  font-size: 2em;
}
.profileInfo{
  width: 100%;
}
.header {
}
