.post {
    /* border: 2px inset black; */
    background-color: white;
    margin: 20px;
    border-radius: 2px;
    border: 2px solid aliceblue;
    padding: 10px;
}

.post img {
    height: 50px;
}

.title {
    align-content: flex-start;
    align-items: flex-start;
    text-align: center;
    vertical-align: top;
    display: inline;
    padding: 10px;
}

.message {
    padding: 10px;
}

.like img {
    /* background-color: dodgerblue; */
    opacity: 0.25;
    height: 20px;
}
