.app-wrape{
display: grid;
margin: 0 auto;
/* width: 50%; */
grid-template-areas:
"header header"
"sidebar content"
;

grid-template-rows: 60px 1fr;
grid-template-columns: 2fr 10fr;
/* grid-gap: 10px; */

}
header{
grid-area: header;
background-color: aqua;
}

header img{
  width:  50px;
}

.sidebar{
  grid-area: sidebar;
  background-color: red;

}

.content{
grid-area: content;
background-color: green;


}